@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mission-red: #E60000;
  --mission-light: #f5f5f5;
  --grid-color: rgba(0, 0, 0, 0.05);
  /* Light grey grid on white */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mission-red: var(--mission-red);
  --color-mission-light: var(--mission-light);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow: hidden;
}

/* Light Grid Background */
.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}

/* Gamified Button Press Effect */
.btn-press {
  transition: all 0.1s;
}

.btn-press:active {
  transform: scale(0.95);
}

.font-mission {
  font-family: var(--font-sans), sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* NUCLEAR FIX FOR AR.JS REDUNDANT VIDEO */
/* This ensures the raw video feed is never visible, only the canvas texture */
body>video {
  opacity: 0 !important;
  z-index: -9999 !important;
  position: fixed !important;
  pointer-events: none !important;
  top: 0 !important;
  left: 0 !important;
}

#arjs-video {
  display: none !important;
}